body{
    /* background:yellow; */

    background-image: url("taj.jpeg");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size:24px;
    font-weight: 800;
    text-align: justify;
 
/*
em - refers to the font size of the parent elelemnt
1em 
rem - html 16px
xx-large-32px
large
small
larger
smaller
xx-small 9 px
x-small
medium - default size


font-weight-  boldness

100-900
normal - 400
700 - bold




*/
}
p{
    color:brown;
    text-align:center;
    text-decoration: overline;
    text-transform: lowercase;
    letter-spacing: 10px;
    line-height: 1.2;
}
#mypara{
    color:blue;
}
.paraclass{
    text-align: left;
}
ul.menu {
    list-style: none;
}
ul.menu li{
    display:inline;
}
ul.menu li a{
    margin:15px;
   text-decoration: none;
}
ul>li {
    list-style: square;
}
ul>li ol{
    list-style: none;
}
h1+p{
    color:rgb(72, 175, 210);
}
ul.task+p{
    color:pink;
    text-indent:30px;
}
/* h1~p{
    color:red;
}
h1,h2,h3{
    color:blueviolet;
}
h1{
    font-weight:normal;
} */
/* 

write your comments 
property names they are not case sesnisitive
but selectors are case sensitive

CSS Selectors

pattern 

descendant selector
child selectors
adjacent sibling selector
e1+e2
general sibling selector
~
E1 ~ E2

hexadecimal -

6 digit, #, rr,gg,bb
00 - FF
0 -255

#ffffff
#000000
*/